{% extends 'base.html.twig' %}

{% block title %}Création Campagne{% endblock %}

{% block body %}

{# <div class="container my-3 form-create">
<h3>Créer une campagne</h3>
{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <select name="clients" id="clients">
                    {% for client in clients %}
                        <option value="{{ client.mag_uuid }}/{{ client.mag_nom}}">{{ client.mag_nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_label(form.dateDebut, 'Date de début') }}
                    {{ form_widget(form.dateDebut) }}
                </div>
                <div class="col"> 
                    {{ form_label(form.dateFin, 'Date de fin') }}
                    {{ form_widget(form.dateFin) }}
                </div>
            </div>
            <div class="form-row my-3">
                <div class="form-group col-md-6">
                    {{ form_label(form.dureeAffichage, "Durée d'Affichage") }}
                    {{ form_widget(form.dureeAffichage) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.diffusionDebut, "Plage de diffusion spécifique") }}
                    <div class="row">
                            {{ form_widget(form.diffusionDebut) }}
                            {{ form_widget(form.diffusionFin) }}
                    </div>
                </div>
            </div>
            <div class="form-check my-3">
                    {{ form_label(form.recurrence, 'Récurrence personnalisée') }}
                <div class="form-group">
                    {% for recurrenceCheckBox in form.recurrence %}
                        {{ form_widget(recurrenceCheckBox) }}
                        {{ form_label(recurrenceCheckBox) }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="form-row  my-3">
                <div class="form-group">
                    {{ form_label(form.media, 'Fichier multimédia') }}
                    {{ form_widget(form.media, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>

            <div class="form-row my-3">
                <div class="form-group col-6">
                    {{ form_label(form.permission, 'Permission') }}
                    {{ form_widget(form.permission)}}
                </div>
                <div class="form-group col-6">
                    {{ form_label(form.couleur, 'Couleur sur le planning') }}
                    {{ form_widget(form.couleur, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>

            <div class="form-row my-3">    
                <div class="form-group">
                        {{ form_label(form.details, 'Détails supplémentaires') }}
                        {{ form_widget(form.details, {'attr':{'class':'w-100 h-100'}}) }}
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-light custom-color m-2">Enregistrer</button>
    <a href="{{ path('campagne_index') }}" class="btn btn-outline-light custom-color m-2">Abandonner</a>
{{ form_end(form) }}
</div> 
                        #}
                 
                    
                        {{ dump() }}
                    
                 
                   
<div class="container border form-create">
    <h3>Créer une campagne</h3>
    {{ form_start(form) }}
                <div class="form-row ">
                    <div class="form-group col-md-4">
                        <label for="clients">Client</label>
                        <div class="d-flex">
                            <select name="clients" id="clients" class="form-control">
                                {% for client in clients %}
                                    <option  value="{{ client.mag_uuid }}/{{ client.mag_nom}}">{{ client.mag_nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
        
                    <div class="form-group col-md-4">
                        {{ form_label(form.dateDebut, 'Date de début') }}
                        <div class="d-flex">
                            {{ form_widget(form.dateDebut.day, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dateDebut.month, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dateDebut.year, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form.dateFin, 'Date de fin') }}
                        <div class="d-flex">
                            {{ form_widget(form.dateFin.day, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dateFin.month, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dateFin.year, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    
                </div>

                <div class="form-row ">

                    <div class="form-group col-md-5">

                        {{ form_label(form.diffusionDebut, "Plage de diffusion") }}
                        <div class="d-flex">
                        {# {{ form_label(form.diffusionDebut, 'Début') }} #}
                            {{ form_widget(form.diffusionDebut.hour, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.diffusionDebut.minute, {'attr':{'class':'form-control'}}) }}
                        {# {{ form_label(form.diffusionFin, 'Fin') }} #}
                            {{ form_widget(form.diffusionFin.hour, {'attr':{'class':'form-control'}}) }}   
                            {{ form_widget(form.diffusionFin.minute, {'attr':{'class':'form-control'}}) }}     
                        </div>
                    </div>    

                    <div class="form-group col-md-3">
                        {{ form_label(form.dureeAffichage, "Durée d'Affichage") }}
                        <div class="d-flex">
                            {{ form_widget(form.dureeAffichage.hour, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dureeAffichage.minute, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                

                    <div class="form-group col-md-4">
                        {{ form_label(form.recurrence, 'Récurrence personnalisée') }}</br>                                      
                        {% for recurrenceCheckBox in form.recurrence %}
                            <div class="form-check form-check-inline">
                                {{ form_widget(recurrenceCheckBox, {'attr':{'class':'form-check-input'}}) }}
                                {{ form_label(recurrenceCheckBox) }}
                            </div>
                        {% endfor %} 
                    </div>                  
                </div>

                
                <div class="form-row">

                    <div class="form-group col-md-4">                
                            {{ form_label(form.permission, 'Permission') }}
                        <div class="d-flex">
                            {{ form_widget(form.permission, {'attr':{'class':'form-control'}})}}
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                            {{ form_label(form.couleur, 'Couleur sur le planning') }}
                        <div class="d-flex">
                            {{ form_widget(form.couleur, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group col-md-4">                  
                            {{ form_label(form.media, 'Fichier multimédia') }}
                        <div class="d-flex">
                            {{ form_widget(form.media, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>

                </div>
                <div class="form-row">
                        {{ form_label(form.details, 'Détails supplémentaires') }}
                        {{ form_widget(form.details) }}
                </div>

        <button type="submit" class="btn btn-dark m-2">Enregistrer</button>
        <a href="{{ path('campagne_index') }}" class="btn btn-dark m-2">Abandonner</a>

        {{ form_end(form) }}
</div>


{# 

<div class="container">
{{ form_start(form) }}
                <div class="form-row">
                    <div class="form-group d-flex col-4">
                            <div>{{ form_label(form.dateDebut, 'Date de début')}}</div>
                            {{ form_widget(form.dateDebut.year, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dateDebut.month, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dateDebut.day, {'attr':{'class':'form-control'}}) }}
                        
                    </div>
                    <div class="form-group d-flex col-4"> 
                            {{ form_widget(form.dateFin.year, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dateFin.month, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dateFin.day, {'attr':{'class':'form-control'}}) }}
                    </div>                   
                    <div class="form-group d-flex col-4"> 
                            {{ form_widget(form.dureeAffichage.hour, {'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.dureeAffichage.minute, {'attr':{'class':'form-control'}}) }}
                    </div>   
                </div>          

                   {{ form_label(form.diffusionDebut, "Plage de diffusion spécifique") }}
 
                    {{ form_widget(form.diffusionDebut) }}
                    {{ form_widget(form.diffusionFin) }}

                    {{ form_label(form.recurrence, 'Récurrence personnalisée') }}

                    {% for recurrenceCheckBox in form.recurrence %}
                        {{ form_widget(recurrenceCheckBox) }}
                        {{ form_label(recurrenceCheckBox) }}
                    {% endfor %}

                    {{ form_label(form.media, 'Fichier multimédia') }}

                    {{ form_widget(form.media) }}

                    {{ form_label(form.permission, 'Permission') }}
                    {{ form_widget(form.permission)}}

                    {{ form_label(form.couleur, 'Couleur sur le planning') }}
                    {{ form_widget(form.couleur) }}
     
                    {{ form_label(form.details, 'Détails supplémentaires') }}
                    {{ form_widget(form.details) }}

    <button type="submit" class="btn btn-outline-light custom-color m-2">Enregistrer</button>
    <a href="{{ path('campagne_index') }}" class="btn btn-outline-light custom-color m-2">Abandonner</a>
<div class="alert alert-success">{{ form_rest(form) }}</div>

{{ form_end(form) }}
</div> #}


{# <div class="container form-create my-3">
<h3>Créer une campagne</h3>
{{ form_start(form) }}
 
            <div class="form-row border border-success">
                <div class="form-group col-md-3">
                    {{ form_label(form.dateDebut, 'Date de début')}}
                    {{ form_widget(form.dateDebut) }}
                </div>
                <div class="form-group col-md-3"> 
                    {{ form_label(form.dateFin, 'Date de fin') }}
                    {{ form_widget(form.dateFin) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.media, 'Fichier multimédia') }}
                    {{ form_widget(form.media, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>

            <div class="form-row border border-success">
                <div class="form-group col-md-4">
                    {{ form_label(form.dureeAffichage, "Durée d'Affichage") }}
                    {{ form_widget(form.dureeAffichage) }}
                </div>
                <div class="form-group col-md-4">
                     {{ form_label(form.diffusionDebut, "Plage de diffusion spécifique") }} 
                    <div class="form-row">
                            {{ form_row(form.diffusionDebut) }}
                            {{ form_row(form.diffusionFin) }}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(form.recurrence, 'Récurrence personnalisée') }}
                    <div class="d-flex justify-content-between"> 
                        {% for recurrenceCheckBox in form.recurrence %}
                            <div class="form-check p-0">
                                {{ form_widget(recurrenceCheckBox, {'attr':{'class':'form-check-input'}}) }}
                                {{ form_label(recurrenceCheckBox) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-row border border-success">
                <div class="form-group col-md-3">
                    {{ form_label(form.permission, 'Permission') }}
                    {{ form_widget(form.permission)}}
                </div>
                <div class="form-group col-md-3">
                    {{ form_label(form.couleur, 'Couleur sur le planning') }}
                    {{ form_widget(form.couleur) }}
                </div>
                <div class="form-group col-md-6">
                     {{ form_label(form.details, 'Détails supplémentaires') }}
                     {{ form_widget(form.details, {'attr':{'class':'w-100 h-100'}}) }}
                </div>
            </div>
    <button type="submit" class="btn btn-outline-light custom-color m-2">Enregistrer</button>
    <a href="{{ path('campagne_index') }}" class="btn btn-outline-light custom-color m-2">Abandonner</a>
{{ form_end(form) }}
</div> #}


{% endblock %}